.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
extension/node_modules/**
!extension/node_modules/vscode-jsonrpc/**
!extension/node_modules/vscode-languageclient/**
!extension/node_modules/vscode-languageserver-protocol/**
!extension/node_modules/vscode-languageserver-types/**
!assets/*
