.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
extention/node_modules/**
!extention/node_modules/vscode-jsonrpc/**
!extention/node_modules/vscode-languageclient/**
!extention/node_modules/vscode-languageserver-protocol/**
!extention/node_modules/vscode-languageserver-types/**
!assets/*
!extention/out/repl/*